/* div{
    background-color: green;
    color: white;
    padding: 25px;
    text-align: center;

}
div:hover{
    background-color: blue;
} */

p{
    display: none;
    background-color: yellow;
    padding: 20px;
}

div:hover p{
    display: block;
}