css
h1, p, div {
color: red;
}
table {
 width: 100%;
}

table, th, td {
border: 2px solid;
}

table {
 border-collapse: collapse;
}

th {
 height: 70px;
}
div > p {
    background-color: yellow;
  }
  ul.a{
    list-style-type: circle;
  }
  ul.b{
    list-style-type: lower-roman;
  }
  ol.c{
    list-style-type: square;
  }
  ol.d{
    list-style-type: upper-roman;
  }
  ol {
    background: #ff9999;
    padding: 20px;
  }
  
  ul {
    background: #3399ff;
    padding: 20px;
  }
  
  ol li {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
  }
  
  ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
  }